extends layouts/layout
block content
	h1 Firma Creada
	
	h2 Home Club
	div.input
		textarea.html-homeclub(name="html_homeclub", cols="40", rows="5")
			=firma_homeclub
	button.copy.homeclub Copy
	a.link-to.homeclub(href="/show?name=#{name}&job=#{job}&phone=#{phone}&photo=#{photo}&template=homeclub", target="_blank")
		button(type="button") Show

	h2 Home Select
	div.input
		textarea.html-homeselect(name="html_homeselect", cols="40", rows="5")
			=firma_homeselect
	button.copy.homeselect Copy
	a.link-to.homeselect(href="/show?name=#{name}&job=#{job}&phone=#{phone}&photo=#{photo}&template=homeselect", target="_blank")
		button(type="button") Show

	script.
		$("button.copy").click(function(){
			if ($(this).hasClass('homeclub')) {
				$("textarea.html-homeclub").select();
			} else if ($(this).hasClass('homeselect')) {
				$("textarea.html-homeselect").select();
			}
			document.execCommand('copy');
		});